<!doctype html>
<html lang='en'>

<head>
    <title>Shopping List</title>
    <meta charset='utf-8'>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>

    <script src='script.js' defer></script>

    <style>
        [v-cloak] {
            display: none
        }

        .no-items {
            margin-top: 10px;
            font-style: italic;
        }

        #qty {
            width: 20px;
        }
    </style>
</head>

<body>

    <div id='app' v-cloak>

        <h1>Shopping List</h1>

        <label>
            Qty: <input type='text' id='qty' v-model.number='qty'>
        </label>

        <label>
            Item: <input type='text' v-model='item' @keypress.enter='addItem'>
        </label>

        <button v-on:click='addItem'>Add</button>

        <div class='no-items' v-if='items.length == 0'>
            You have no items on your list.
        </div>
        <div v-else>
            <p>
                Total item count: {{ itemCount }}
            </p>

            <ul>
                <li v-for='thisItem in items'>{{ thisItem.qty }} x {{ thisItem.item }}</li>
            </ul>
        </div>
    </div>

</body>

</html>