<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />
    <style>
      [v-cloak] {
        display: none;
      }
      .computerSelection {
        background-color: white;
        width: 65px;
        border: 5px solid rgb(8, 94, 145);
        padding: 5px;
        margin: 2px;
      }
      .winMessage {
        width: auto;
        margin: 2px;
        border: 5px solid green;
        padding: 5px;
        background-color: lightgreen;
      }
      .loseMessage {
        width: auto;
        margin: 2px;
        border: 5px solid red;
        padding: 5px;
        background-color: lightpink;
      }
      .drawMessage {
        width: auto;
        margin: 2px;
        border: 5px solid yellow;
        padding: 5px;
        background-color: lightyellow;
      }
    </style>

    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="script.js" defer></script>
  </head>

  <body>
    <div id="app" v-cloak class="container">
      <h1>
        Project Rock Paper Scissors
      </h1>

      <div class="askFirstAndLastName" v-if="!playerFullName">
        <label>
          Please enter your first name:
          <input type="text" v-model.lazy="playerFirstName" />
          last name:
          <input type="text" v-model.lazy="playerLastName" />
          <button @click="combineToFullName">
            Let's play!
          </button>
        </label>
      </div>

      <div class="welcomeMessages" v-else>
        Welcome to Rock Paper Sissors Game, {{playerFullName}}
      </div>

      <div class="playersOptions" v-if="playerFullName">
        <label>
          Please select your hand sign and click "Ready to play!" button
          <select v-model="playerSelected">
            <option value="">Default</option>
            <option value="Rock">Rock</option>
            <option value="Paper">Paper</option>
            <option value="Scissors">Scissors</option>
          </select>
        </label>
        <button v-on:click="genRanNumber">
          Ready to play!
        </button>
      </div>

      <div class="computersChoice" v-if="playerFullName">
        <label>Computer's choice is:</label>
        <ul>
          <li>
            <span :class="{computerSelection:computerSelected=='Rock'}"
              ><i class="far fa-hand-rock"></i>Rock</span
            >
          </li>
          <li>
            <span :class="{computerSelection:computerSelected=='Paper'}"
              ><i class="far fa-hand-paper"></i>Paper</span
            >
          </li>
          <li>
            <span :class="{computerSelection:computerSelected=='Scissor'}"
              ><i class="far fa-hand-scissors"></i>Scissor</span
            >
          </li>
        </ul>
      </div>

      <div class="showWinOrLoseMessage">
        <div v-if="feedbackMessage[0]=='C'" :class="{winMessage:true}">
          {{feedbackMessage}}
        </div>
        <div v-if="feedbackMessage[0]=='S'" :class="{loseMessage:true}">
          {{feedbackMessage}}
        </div>
        <div v-if="feedbackMessage[0]=='D'" :class="{drawMessage:true}">
          {{feedbackMessage}}
        </div>
      </div>

      <button v-if="playerFullName" @click="showOrHideHistory">
        Game history
      </button>
      <button v-if="playerFullName" @click="showOrHideStatistic">
        Statistic
      </button>
      <button v-if="playerFullName" @click="clearDataProperty">Reset</button>

      <div v-if="playerFullName && soHistory" class="historyResults">
        <ul>
          <li v-for="(theResult, index, value) in Results ">
            Round {{index+1}}, computer is {{theResult.computer}}, player is
            {{theResult.player}}, Results is {{theResult.result}}
          </li>
        </ul>
      </div>


      <!-- Make a component for the statistic div -->
      <!-- <div v-if="playerFullName && sStatistic" class="statisticResults">
        <ul>
          <li>
            Total number games you played: {{totalGame}}
          </li>
          <li>
            Win is {{playerWin}}
          </li>
          <li>
            Lose is {{playerLose}}
          </li>
          <li>
            Draw game is {{playerDraw}}
          </li>
        </ul>
      </div>
    </div> -->

    <game-statistic v-if="playerFullName && sStatistic" class="statisticResults" v-bind:total-game='totalGame' v-bind:player-win='playerWin' v-bind:player-lose="playerLose" v-bind:player-draw="playerDraw" ></game-statistic>



    <!-- component game-statistic script section -->
    <script type='text/x-template' id='game-statistic'>
      <div>
      <ul>
        <li>
          Total number games you played: {{totalGame}}
        </li>
        <li>
          Win is {{playerWin}}
        </li>
        <li>
          Lose is {{playerLose}}
        </li>
        <li>
          Draw game is {{playerDraw}}
        </li>
      </ul>
    </div>
    </script>


  </body>
</html>
