.container {
  margin: auto;
  background: lightgrey;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.computersChoice ul {
  display: inline-flex;
  margin: 30px;
}
.computersChoice ul li {
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}
.historyResults {
  width: auto;
  margin: 1px;
  border: 5px solid black;
  padding: 5px;
  background-color: rgb(140, 215, 245);
}
.statisticResults {
  width: auto;
  margin: 1px;
  border: 5px solid black;
  padding: 5px;
  background-color: rgb(140, 215, 245);
}
.computerSelection {
  background-color: white;
  width: 65px;
  border: 5px solid rgb(8, 94, 145);
  padding: 5px;
  margin: 2px;
}
.winMessage {
  width: auto;
  margin: 2px;
  border: 5px solid green;
  padding: 5px;
  background-color: lightgreen;
}
.loseMessage {
  width: auto;
  margin: 2px;
  border: 5px solid red;
  padding: 5px;
  background-color: lightpink;
}
.drawMessage {
  width: auto;
  margin: 2px;
  border: 5px solid yellow;
  padding: 5px;
  background-color: lightyellow;
}

.computersChoice ul li span {
  display: block;
  padding: 10px 20px;
}
