<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shopping list</title>
    <meta charset="utf-8" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="script.js" defer></script>
  </head>

  <body>
    <div id="app" v-cloak>
      Shopping list <br />
      Qty:
      <input type="text" v-model.number="itemAmount" />

      {{itemAmount}} Item:
      <input type="text" v-model="itemName" @keyup.enter="submitItem" />

      {{itemName}}

      <button @click="submitItem">Add</button>

      <ul>
        <li v-for="item in items">{{item}}</li>
      </ul>
    </div>
  </body>
</html>
