<!doctype html>
<html lang='en'>

<head>

    <title>Week 4 Examples</title>
    <meta charset='utf-8'>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>

    <script src='script.js' defer></script>

    <style>
        [v-cloak] {
            display: none
        }

        .no-items {
            margin-top: 10px;
            font-style: italic;
        }
    </style>

</head>

<body>

    <h1>Week 4 Examples</h1>

    <div id='app' v-cloak>

        <!-- Demonstrating how v-else must immediately follow a v-if or v-else-if -->
        <p v-if='playerName'>Player: {{ playerName }}</p>
        <!-- <p>Instructions:</p> -->
        <p v-else>Enter your player name to begin the game.</p>


        <!-- Demonstrating the difference between v-if and v-show -->
        <p v-if='false'>Example A</p>
        <p v-show='false'>Example B</p>


        <!-- Demonstrating the role of `key` -->
        <div v-if='gameType === "numeric"'>
            <label>Enter a guess between 1 and 10</label>
            <input type='text' key='numericGuess' placeholder='Your numeric guess'>
        </div>
        <div v-else>
            <label>Enter a guess between A and Z</label>
            <input type='text' key='alphabeticGuess' placeholder='Your alphabetic guess'>
        </div>

        <button v-on:click='gameType = (gameType == "numeric") ? "alphabetic" : "numeric"'>Toggle game mode</button>


        <!-- Demonstrating why v-for and v-if shouldn't be combined -->
        High guesses:
        <ul>
            <li v-for='thisGuess in guesses' v-if='thisGuess > answer'>{{ thisGuess }}</li>
        </ul>


        <!-- Demonstrating list rendering of arrays and objects -->
        <ul>
            <li v-for='(value, index) in guesses'>
                {{ index }}. {{ value }}
            </li>
        </ul>

        <ul>
            <li v-for='(value, name, index) in settings'>
                {{ index }}. {{ name }} : {{ value }}
            </li>
        </ul>

        <ul>
            <li v-for='thisGuess in guessesDetailed'>
                {{ thisGuess.guess }} was too {{ thisGuess.result }}
            </li>
        </ul>

    </div>


    <!-- Demonstrating different kind of event listeners -->
    <label>Enter a guess between 1 and 10:
        <input type='text' v-model='guess' v-on:keyup.enter='submitGuess'>
        <input type='text' v-model='guess' v-on:mouseenter='submitGuess'>
        <input type='text' v-model='guess' @mouseenter='submitGuess'>
    </label>
    <button v-on:click='submitGuess'>Guess</button>

    <ul>
        <li v-for='(value, index) in guesses'>
            {{ index }}. {{ value }}
        </li>
    </ul>

</body>

</html>