<!doctype html>
<html lang='en'>

<head>

    <title></title>
    <meta charset='utf-8'>
    <link href=data:, rel=icon>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>

    <script src='script.js' defer></script>

</head>

<body>

    <div id="app" v-cloak>
        Shopping list <br>

        Qty:
        <input type="text" v-model.number="itemAmount">

        Item:
        <input
               type="text"
               v-model="itemName"
               @keyup.enter="combineAmountAndName">

        <button @click="combineAmountAndName">Add</button>

        <ul>
            <li v-for="item in items">{{ item }}</li>
        </ul>
    </div>

</body>

</html>